/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*PREPARE_CLINVAR_SNV:BCFTOOLS_ANNOTATE' {
        ext.args   = { "--output-type v" }
    }

    withName: '.*PREPARE_CLINVAR_SNV:GAWK' {
        ext.args   = '\'BEGIN{FS=OFS="\\t"} /^#/ {print; next} {print $0 ";CLNVID=" $3}\''
        ext.prefix = { "clinvar_clnvid" }
        ext.suffix = 'vcf'
    }

    withName: '.*PREPARE_CLINVAR_SNV:TABIX_BGZIPTABIX' {
        ext.prefix = { "${meta.id}_reformatted" }
    }

    withName: '.*PREPARE_GNOMAD_SNV:BCFTOOLS_ANNOTATE' {
        ext.args   = { "--output-type z --write-index=tbi --include \"FILTER='PASS'\" --remove \"^INFO/AF,INFO/AF_grpmax\"" }
        ext.prefix = { "gnomad_reformatted.genomes.v${meta.version}.sites.${meta.chromosome}"}
    }

    withName: '.*PREPARE_GNOMAD_SNV:BCFTOOLS_CONCAT' {
        ext.args   = { "--output-type z --write-index=tbi" }
        ext.prefix = { "gnomad_reformatted.genomes.v${meta.version}.sites"}
    }

    withName: '.*PREPARE_GNOMAD_SNV:BCFTOOLS_QUERY' {
        ext.args   = { "-f'%CHROM\t%POS\t%REF,%ALT\t%INFO/AF\n'" }
        ext.prefix = { "gnomad_reformatted.genomes.v${meta.version}.sites"}
        ext.suffix = 'tab'
    }

    withName: '.*PREPARE_GNOMAD_SNV:TABIX_BGZIPTABIX' {
        ext.prefix = { "gnomad_reformatted.genomes.v${meta.version}.sites"}
        ext.args2  = { "-s 1 -b 2 -e 2" }
    }

    withName: '.*PREPARE_GNOMAD_SV:BCFTOOLS_ANNOTATE' {
        ext.args   = { "--output-type z --write-index=tbi --include \"FILTER='PASS'\" --remove \"^INFO/AF,INFO/AC\""}
        ext.prefix = { "gnomad_reformatted.v${meta.version}.sv.sites" }
    }
}
